#oax
  #main .content--wrap .layout .flex
    transition: all 0s linear $delay !important
    will-change: flex-basis, max-width

  .navigation-drawer--closing ~ #main .content--wrap .layout .flex
    transition: none !important
