@media $display-breakpoints.md-and-up
  #oax
    #main .content--wrap > .container:hover::-webkit-scrollbar
      display: initial
    #main .content--wrap > .container::-webkit-scrollbar
      display: none

  ::-webkit-scrollbar
    height: 12px
    width: 12px

  ::-webkit-scrollbar-track-piece:vertical
    background-color: transparent
    border-left: 1px solid $material-light.dividers

  ::-webkit-scrollbar-track-piece:horizontal
    background-color: transparent
    border-top: 1px solid $material-light.dividers

  ::-webkit-scrollbar-thumb:vertical
  ::-webkit-scrollbar-thumb:horizontal
    background-color: rgba(196, 196, 196, .5)
    border: 1px solid $material-light.dividers

  ::-webkit-scrollbar-thumb:vertical:hover
  ::-webkit-scrollbar-thumb:horizontal:hover
    background-color: rgba(196, 196, 196, .75)

  ::-webkit-scrollbar-thumb:vertical:active
  ::-webkit-scrollbar-thumb:horizontal:active
    background-color: rgba(128, 128, 128, .5)

  .theme--dark
    ::-webkit-scrollbar-track-piece:vertical
      border-left: 1px solid $material-dark.dividers

    ::-webkit-scrollbar-track-piece:horizontal
      border-top: 1px solid $material-dark.dividers

    ::-webkit-scrollbar-thumb:vertical
    ::-webkit-scrollbar-thumb:horizontal
      border: 1px solid $material-dark.dividers
