// @media $display-breakpoints.md-and-up
//   .ma-3-md
//     margin: 24px

@media $display-breakpoints.sm-and-down
  .pa-0-sm
  // .pa-0-sm-nl
    padding: 0 !important
  .pa-0-sm .layout
    margin: 0 !important

// @media $display-breakpoints.sm-only
//   #oax #main > .container
//     padding: 0

@media $display-breakpoints.xs-only
  #oax
    // .content--wrap > .container
    //   padding 0

    // .container.grid-list-xl .layout:only-child
    //   margin: 0

    // .content--wrap > .container
    //   padding-top: 0
    //   padding-bottom: 0

    // .content--wrap > .container .container .layout
    //   margin: 0 -32px !important

    // .pa-3-sm
    //   padding 0 !important

    // .plr-3-sm
    //   padding-left 16px !important
    //   padding-right 16px !important

    // .container.grid-list-xl
    //   padding 16px

    // .container.grid-list-xl > .layout > .flex
    //   padding 8px
