{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    [
      "transform-imports",
      {
        "vuetify": {
          "transform": "vuetify/src/components/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
