node_modules/
dist/
npm-debug.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.publish
config/*_backup

debug.log

.idea

package-lock.json
yarn.lock

# Nuxt build
.nuxt

config/vuetify/es5
