node_modules/
dist/
npm-debug.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.publish
config/*_backup

debug.log

**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries/*.xml

package-lock.json
