.app-example
  .link
    cursor: pointer

  .click
    cursor: pointer
    opacity: .64

  ul
    padding: 0 0 0 16px
  ul li
    list-style none
    position relative

  .expander
    position absolute
    margin-left -8px
