/** Children */
.toolbar
  @media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
    &__content,
    &__extension
      height: $toolbar-mobile-portrait-height


/** Types */
.toolbar
  &--fixed

    @media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
      + main
        padding-top: $toolbar-mobile-portrait-height
