@require './_vuetify.styl'
@require '../../node_modules/vuetify/src/stylus/settings/_variables.styl'

$mobile-portrait := "only screen and (max-width: %s) and (orientation: portrait)" % ($grid-breakpoints.md - 1)
$mobile-landscape := "only screen and (max-width: %s) and (orientation: landscape)" % ($grid-breakpoints.md - 1)
