$color-pack = false

@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $blue.lighten-2
  accent: $blue.lighten-2
  secondary: $grey.darken-1

  info: $blue.darken-2
  warning: $amber.accent-4
  error: $red.accent-4
  success: $green.accent-4
}

$info-text := $theme.info
$warning-text := darken($theme.warning, 4%)
$error-text := lighten($theme.error, 33%)
$success-text := darken($theme.success, 20%)

// $font-size-root := 16px
// $line-height-root := 26px

$grid-breakpoints := {
  xs: 0
  sm: 800px
  md: 1200px
  lg: (1600px - 16px) // Desktop gets a 16dp reduction
  xl: (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
}

$delay := .315s
$delay-out := 0s
