$color-pack = false

@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $blue.lighten-1
  accent: $blue.lighten-1
  secondary: $grey.darken-1

  info: $blue.darken-2
  warning: $amber.accent-4
  error: $red.accent-4
  success: $green.accent-4
}

$oax-text := {
  info: $blue.darken-2
  warning: $amber.darken-3
  error: $red.darken-1
  success: $green.darken-1
}


$grid-breakpoints := {
  xs: 0
  sm: 800px
  md: 1200px
  lg: (1600px - 16px) // Desktop gets a 16dp reduction
  xl: (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
}

$delay := .315s
$delay-out := 0s
