.hover--block:hover
  background $material-twelve-percent-dark
  cursor pointer

pre.app-pre
  background lighten($material-twelve-percent-dark, 50%)
  border 1px solid $material-twelve-percent-dark
  border-radius 6px !important
  max-height calc((100vh - 64px) / 4)
  overflow auto
  scroll auto

.input-group__hint
  transition none !important

.dialog__content
  z-index 11

@media $display-breakpoints.md-and-up
  .ma-3-md
    margin: 24px

@media $display-breakpoints.sm-only
  #oax main > .container
    padding: 0

@media $display-breakpoints.xs-only
  #oax
    .container
      padding 0

    .pa-3-sm
      padding 0 !important

    .plr-3-sm
      padding-left 16px !important
      padding-right 16px !important

    .container.grid-list-xl
      padding 16px

    .container.grid-list-xl > .layout > .flex
      padding 8px

.application--dark .menu__content
  background-color #212121

//.application--dark .datatable thead th.column.sortable
//.application--dark .datatable thead th.column.sortable.active
//.application--dark .datatable thead th.column.sortable.active i
//  color #fff

.list__tile__title
.icon
  transition none

.application--dark tbody tr:hover
  background-color: $grey.darken-3 !important

.input-group__hint > *:last-child
.input-group__hint > *:last-child > *:last-child
.input-group__hint > *:last-child > *:last-child > *:last-child
.md > *:last-child
.md > *:last-child > *:last-child
.md > *:last-child > *:last-child > *:last-child
.md > *:last-child > *:last-child > *:last-child > *:last-child
  margin-bottom 0

.nowrap
  white-space nowrap

.overlay--active + .overlay--active:last-child
  z-index 5

.app--tabs .tabs__items
  border-width 0 !important

pre
  font-family "Roboto Mono", monospace
  font-size 12px

@media all and (max-width: $grid-breakpoints.sm)
  .layout
    margin 0

@media $display-breakpoints.xs-only
  .toolbar__content > :not(.btn):last-child
    margin-right 7px

.application--light .input-group--text-field.input-group--solo
  background-color $body-bg-light

.application--dark .input-group--text-field.input-group--solo
  background-color $body-bg-dark

.relative
  position relative

.toolbar--scroll
  overflow auto
  height 'calc(100vh - %s)' % $toolbar-height

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
    height 'calc(100vh - %s)' % $toolbar-mobile-portrait-height

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: landscape)
    height 'calc(100vh - %s)' % $toolbar-mobile-landscape-height

@media all and (max-width: 600px)
  .overlay
    display none

code
  color: inherit

.stretch
  align-content stretch

.relative
  position relative

a
  text-decoration none

.main-description.markdown
  max-width 100%
  overflow hidden

.main-description.markdown
  > p
  > ul
  > ol
    max-width 888px
  > pre
  > table
    max-width 100%

//@media $display-breakpoints.xl-only
//  min-width 888px

#webpack-hot-middleware-clientOverlay
  font-size 150% !important

#oax .no-animation
  *
    transition none !important

::selection
  background-color: rgba($theme.primary, .25)

.application--dark ::selection
  color: #fff

#oax .datatable__progress th
  height 1px
  display none

#oax .btn--short
#oax .btn--short > *
  min-width 72px

.app-example
  .link
    cursor: pointer

  .click
    cursor: pointer
    opacity: .64

  ul
    padding: 0 0 0 16px
  ul li
    list-style none
    position relative

  .expander
    position absolute
    margin-left -8px

.dialog__content
  z-index: 6 !important

.table__no--overflow.table__overflow
  width: fit-content
  overflow-x: visible
  overflow-y: visible

// https://github.com/JSlote/kbd.css/tree/master
#oax
  .key
    display: inline-block
    padding: 2px 5px 3px 4px
    margin: 0 5px 0 5px
    text-align center

    font-size: 80%
    position: relative
    top: -2px
    color: rgba(0, 0, 0, .78)
    //text-shadow: 0 -1px 0px rgba(255, 255, 255, .66)

    letter-spacing 0.06em
    line-height 1
    font-weight 700
    text-decoration: none
    box-shadow: inset 2px -2px 0px -1px rgba(255, 255, 255, 0.56)
    cursor: default
    border: 1px solid rgba(0, 0, 0, .06)
    border-radius: 4px
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    background: lighten(#ddd, 30%)
    //background: radial-gradient(ellipse at top right, $theme.primary 10%, $theme.primary 100%)

    path
      fill: rgba(0, 0, 0, .78) !important
  .application--dark .key path
      fill: #fff !important

  .key::before,
  .key::after
    content: ''
    left: -2px
    right: -3px
    top: 2px
    bottom: -4px
    border-radius: 4px
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px

  .key::before
    position absolute
    z-index: -1
    border: 0.75px solid darken(#ddd, 35%)
    box-shadow: 0 1px 1px rgba(0, 0, 0, .26)
    background: radial-gradient(circle 25px at -10px 5px, #fff 10%, #ddd 60%, darken(#ddd, 25%) 80%)

  .key::after
    position absolute
    z-index: -2
    background: radial-gradient(ellipse 10px 20px at top right, #888 0%, #aaa 70%, #ccc 100%)

  .application--dark .key::before
    border: 0.75px solid darken(#333, 35%)
    background: radial-gradient(circle 25px at -10px 5px, #fff 10%, #ddd 60%, darken(#333, 25%) 80%)

  //.key:hover
  //  top: 1px
  //  box-shadow: inset 0 -4px 4px -2px rgba(200, 200, 200, .5)
  //
  //.key:hover::before,
  //.key:hover::after
  //  padding-bottom 1px
  //  top: -2px
  //  bottom: -2px
  //  border-radius: 6px
  //
  //.key:hover::before
  //  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, .96)

  .keys, .keyboard
    z-index: 1
    position: relative
    font-size: 18px
    padding: 8px
    font-family: Roboto, sans-serif

  .keyboard
    border: 1px solid $material-light.dividers
    background-color: rgba(#000, $material-light.divider-percent/2)
  .application--dark .keyboard
    border: 1px solid $material-dark.dividers
    background-color: rgba(#fff, $material-dark.divider-percent/2)
  .keyboard .key
    margin: 5px 6px

  $kp := desaturate(lighten($theme.info, 70%), 10%)
  $ks := desaturate(lighten($theme.success, 60%), 30%)
  $kw := desaturate(lighten($theme.warning, 60%), 10%)
  $ke := desaturate(lighten($theme.error, 60%), 10%)

  .key.key-primary
    background: $kp
  .key.key-success
    background: $ks
  .key.key-warning
    background: $kw
  .key.key-error
    background: $ke

  .key.key-primary.key-warning
    background: linear-gradient(90deg, $kp, $kw) no-repeat
  .key.key-primary.key-error
    background: linear-gradient(90deg, $kp, $ke) no-repeat
  .key.key-success.key-error
    background: linear-gradient(90deg, $ks, $ke) no-repeat
  .key.key-warning.key-error
    background: linear-gradient(90deg, $kw, $ke) no-repeat
  .key.key-success.key-warning.key-error
    background: linear-gradient(90deg, $ks, $kw, $ke) no-repeat
  .key.key-primary.key-success.key-warning.key-error
    background: linear-gradient(90deg, $kp, $ks, $kw, $ke) no-repeat

  .table-stripes
    td
      padding 8px 8px 10px 8px
      vertical-align top
    border-collapse collapse
    tr:nth-child(odd)
      background-color: rgba(#000, $material-light.divider-percent/2)
  .application--dark .table-stripes
    tr:nth-child(odd)
      background-color: rgba(#fff, $material-dark.divider-percent*2)

  .application--dark .key
    color: #fff
    background: lighten(#333, 30%)
    box-shadow: inset 2px -2px 0px -1px rgba(255, 255, 255, 0.36)
