.hover--block:hover
  background $material-twelve-percent-dark
  cursor pointer

pre.app-pre
  background lighten($material-twelve-percent-dark, 50%)
  border 1px solid $material-twelve-percent-dark
  border-radius 6px !important
  max-height calc((100vh - 64px) / 4)
  overflow auto
  scroll auto

.input-group__hint
  transition none !important

.dialog__content
  z-index 11

@media $display-breakpoints.md-and-up
  .ma-3-md
    margin: 24px

@media $display-breakpoints.sm-only
  #oax main > .container
    padding: 0

@media $display-breakpoints.xs-only
  #oax
    .container
      padding 0

    .pa-3-sm
      padding 0 !important

    .plr-3-sm
      padding-left 16px !important
      padding-right 16px !important

    .container.grid-list-xl
      padding 16px

    .container.grid-list-xl > .layout > .flex
      padding 8px

.application--dark .menu__content
  background-color #212121

//.application--dark .datatable thead th.column.sortable
//.application--dark .datatable thead th.column.sortable.active
//.application--dark .datatable thead th.column.sortable.active i
//  color #fff

.list__tile__title
.icon
  transition none

.application--dark tbody tr:hover
  background-color: $grey.darken-3 !important

.input-group__hint > *:last-child
.input-group__hint > *:last-child > *:last-child
.input-group__hint > *:last-child > *:last-child > *:last-child
.md > *:last-child
.md > *:last-child > *:last-child
.md > *:last-child > *:last-child > *:last-child
.md > *:last-child > *:last-child > *:last-child > *:last-child
  margin-bottom 0

.nowrap
  white-space nowrap

.overlay--active + .overlay--active:last-child
  z-index 5

.app--tabs .tabs__items
  border-width 0 !important

pre
  font-family "Roboto Mono", monospace
  font-size 12px

@media all and (max-width: $grid-breakpoints.sm)
  .layout
    margin 0

@media $display-breakpoints.xs-only
  .toolbar__content>:not(.btn):last-child
    margin-right 7px

.application--light .input-group--text-field.input-group--solo
  background-color $body-bg-light

.application--dark .input-group--text-field.input-group--solo
  background-color $body-bg-dark

.relative
  position relative


.toolbar--scroll
  overflow auto
  height 'calc(100vh - %s)' % $toolbar-height

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
    height 'calc(100vh - %s)' % $toolbar-mobile-portrait-height

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: landscape)
    height 'calc(100vh - %s)' % $toolbar-mobile-landscape-height

@media all and (max-width: 600px)
  .overlay
    display none

code
  color: inherit

.stretch
  align-content stretch

.relative
  position relative

a
  text-decoration none

.main-description.markdown
  max-width 100%
  overflow hidden

.main-description.markdown
  > p
  > ul
  > ol
    max-width 888px
  > pre
  > table
    max-width 100%

//@media $display-breakpoints.xl-only
  //  min-width 888px

#webpack-hot-middleware-clientOverlay
  font-size 150% !important

#oax .no-animation
  *
    transition none !important

::selection
  background-color: rgba($theme.primary, .25)

.application--dark ::selection
  color: #fff

#oax .datatable__progress th
  height 1px
  display none

#oax .btn--short
#oax .btn--short > *
  min-width 72px

.app-example
  .link
    cursor: pointer

  .click
    cursor: pointer
    opacity: .64

  ul
    padding: 0 0 0 16px
  ul li
    list-style none
    position relative

  .expander
    position absolute
    margin-left -8px

.dialog__content
  z-index: 6 !important

.table__no--overflow.table__overflow
  width: fit-content
  overflow-x: visible
  overflow-y: visible


// https://github.com/JSlote/kbd.css/tree/master
#oax .application--light
  .key
    display: inline-block
    padding: .19em .49em .29em .5em
    margin: 0 .6em 0em .4em
    min-width 2em
    text-align center

    position: relative
    top: -.2em
    color: rgba(0,0,0,.78)
    text-shadow: 0 -1px 0px rgba(255,255,255,.66)
    font-size: .8em

    letter-spacing 0.06em
    line-height 1
    font-weight 700
    text-decoration: none
    box-shadow: inset 0 -.2em .12em -.15em rgba(255, 255, 255, .7)
    cursor:default
    border:0.5px solid rgba(0,0,0, .04)

    border-radius: .3em
    background: radial-gradient(ellipse at top right, #ddd 0%, white 100%)

  .key::before,
  .key::after
    content:''
    left:-.1em
    right:-.17em
    top:.16em

    bottom:-.3em
    border-radius: .4em

  .key::before
    position absolute
    z-index:-1
    border:0.5px solid rgba(164,164,164,1)
    box-shadow: 0 1px 1px rgba(0,0,0,.26)
    background: #a8a8a8
    background: radial-gradient(circle 3em at -1.7em 0, white 0%, white 70%, rgba(255,255,255,0) 80%)

  .key::after
    position absolute
    z-index:-2
    background: #a8a8a8
    background: radial-gradient(ellipse 1em 1.7em at top right, #aaa 0%, #aaa 70%, #ccc 100%)

  .key:hover
    top: 0
    box-shadow: inset 0 -.2em .3em -.1em rgba(200, 200, 200, .5)

  .key:hover::before,
  .key:hover::after
    top:-.1em
    bottom: -.2em

  .key:hover::before
    box-shadow: inset 0 1px 6px 0 rgba(0,0,0,.96)
