.hover--block:hover
  background $material-twelve-percent-dark
  cursor pointer

pre.app-pre
  background lighten($material-twelve-percent-dark, 50%)
  border 1px solid $material-twelve-percent-dark
  border-radius 6px !important
  max-height calc((100vh - 64px) / 4)
  overflow auto
  scroll auto

.input-group__hint
  transition none !important

@media all and (max-width: $grid-breakpoints.sm) and (orientation: landscape)
  .toolbar__items .input-group
    position relative
    top -8px
    //top ($toolbar-mobile-landscape-height/2 - $toolbar-height/2)

@media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
  .toolbar__items .input-group
    position relative
    top -4px
    //top ($toolbar-mobile-portrait-height/2 - $toolbar-height/2)

.dialog__content
  z-index 11

@media $display-breakpoints.sm-only
  main > .container
    padding 0

@media $display-breakpoints.xs-only
  .container
    padding 0

  .pa-3-sm
    padding 0 !important

  .pa-3-sm
    padding 0 !important

  .plr-3-sm
    padding-left 16px !important
    padding-right 16px !important

  .container.grid-list-xl
    padding 16px

  .container.grid-list-xl > .layout > .flex
    padding 8px

.application--dark .menu__content
  background-color #212121

.application--dark .datatable thead th.column.sortable
.application--dark .datatable thead th.column.sortable.active
.application--dark .datatable thead th.column.sortable.active i
  color #fff

.list__tile__title
.icon
  transition none

.application--dark tbody tr:hover
  background-color: $grey.darken-3 !important

.input-group__hint > *:last-child
.input-group__hint > *:last-child > *:last-child
.input-group__hint > *:last-child > *:last-child > *:last-child
.md > *:last-child
.md > *:last-child > *:last-child
.md > *:last-child > *:last-child > *:last-child
.md > *:last-child > *:last-child > *:last-child > *:last-child
  margin-bottom 0

.nowrap
  white-space nowrap

.overlay--active + .overlay--active:last-child
  z-index 5

.tabs--transparent
  background-color transparent

.app--tabs .tabs__items
  border-width 0 !important

pre
  font-family "Roboto Mono", monospace
  font-size 12px

@media all and (max-width: $grid-breakpoints.sm)
  .layout
    margin 0

@media $display-breakpoints.xs-only
  .toolbar__content>:not(.btn):last-child
    margin-right 7px

.application--light .input-group--text-field.input-group--solo
  background-color $body-bg-light

.application--dark .input-group--text-field.input-group--solo
  background-color $body-bg-dark

.relative
  position relative


.toolbar--scroll
  overflow auto
  height 'calc(100vh - %s)' % $toolbar-height

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: portrait)
    height 'calc(100vh - %s)' % $toolbar-mobile-portrait-height

  @media all and (max-width: $grid-breakpoints.sm) and (orientation: landscape)
    height 'calc(100vh - %s)' % $toolbar-mobile-landscape-height
