#oax
  .cm-string
    color: $success-text

  .cm-property
    color: inherit

  .cm-number
    color: $theme.info

  .cm-atom
    color: $warning-text

  .CodeMirror
    font-family: "Roboto Mono", monospace
    font-size: 13px
