#oax
  .cm-string
    color: $oax-text.success

  .cm-property
    color: inherit

  .cm-number
    color: $oax-text.info

  .cm-error
    color: $oax-text.error

  .cm-atom
    color: $oax-text.warning

  .cm-comment
    color: $material-light.text.secondary

  .CodeMirror
    font-family: "Roboto Mono", monospace
    font-size: 13px
    background-color: $material-light.cards
    color: $material-light.text.primary

  .CodeMirror-selected
    background-color: rgba($material-light.dividers, .08)

  .CodeMirror-focused .CodeMirror-selected
    background-color: rgba($theme.primary, .25)

  .CodeMirror-gutters
    border-right: 1px solid $material-light.dividers
    background-color: $material-light.background

  .CodeMirror-linenumber
    color: $material-light.text.disabled

  .application--dark .CodeMirror
    background-color: $material-dark.background
    color: $material-dark.text.primary

    .CodeMirror-selected
      background-color: rgba($material-dark.dividers, .12)

    .CodeMirror-gutters
      border-right: 1px solid $material-dark.dividers
      background-color: $material-dark.cards

    .CodeMirror-linenumber
      color: $material-dark.text.disabled

  .application--dark
    .CodeMirror-focused .CodeMirror-selected
      background-color: rgba($theme.primary, .25)

    .cm-comment
      color: $material-dark.text.secondary

.CodeMirror-fullscreen
      z-index: 1000
