@media $display-breakpoints.md-and-up
  #oax
    html
    body
      display: block !important
      height: 100vh !important
      overflow-y: hidden !important

    .application
    main
    main > .content
      display: block
      height: 100vh !important
      overflow-y: hidden

    main > .content
    main > .content > .container
      height: calc(100vh - 64px)

    main > .content > .container
      overflow-y: overlay !important
      overflow-x: auto !important

