@media $display-breakpoints.md-and-up
  #oax.html, #oax body
    display: block !important
    height: 100vh !important
    overflow-y: hidden !important

  #oax
    .application, main
      display: block
      height: 100vh
      overflow-y: hidden

    .toolbar--fixed + main
      height: "calc(100vh - %s)" % $toolbar-height
      margin-top: $toolbar-height
      padding: 0

#oax
  .application > main > .container
    min-height: 0
    //overflow-y: hidden
    //overflow-x: hidden
