/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

body {
  --primary: $blue.darken-2;
  --accent: $blue.accent-2;
  --secondary: $grey.darken-3;

  --info: $blue.base;
  --warning: $amber.base;
  --error: $red.accent-2;
  --success: $green.base;
}

$theme := {
  primary: var(--primary)
  accent: var(--accent)
  secondary: var(--secondary)

  info: var(--info)
  warning: var(--warning)
  error: var(--error)
  success: var(--success)
}

@import '../../node_modules/vuetify/src/stylus/main'
