/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

body {
  --primary: $blue.lighten-2
  --accent: $blue.accent-1
  --secondary: $grey.darken-1

  --info: $blue.accent-4
  --warning: $amber.accent-4
  --error: $red.accent-4
  --success: $green.accent-4
}

$theme := {
  primary: var(--primary)
  accent: var(--accent)
  secondary: var(--secondary)

  info: var(--info)
  warning: var(--warning)
  error: var(--error)
  success: var(--success)
}

//$font-size-root := 16px
//$line-height-root := 26px

@import '../../node_modules/vuetify/src/stylus/main'
