main
  margin-right 0
  margin-left 0
  transition margin 0s linear $right-delay
  will-change margin

.toolbar
  //width 100%
  //transition WIDTH 0s linear $right-delay
  //transition none
  //will-change WIDTH

.navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right) ~ main
.navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open.navigation-drawer--right ~ main
  transition margin 0s linear $right-delay-out

.navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open.navigation-drawer--right ~ main
  padding-right 0

.navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right) ~ main
  padding-left 0

//.navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open.navigation-drawer--right:not(.navigation-drawer--clipped):not(.navigation-drawer--floating) + .toolbar
//.navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating) + .toolbar
  //padding-right 0
  //padding-left 0
  //transition WIDTH 0s linear $right-delay-out

.navigation-drawer--close:not(.navigation--permanent).navigation-drawer--right
  transform translate3d(100%, 0, 0)

.navigation-drawer--close:not(.navigation--permanent).navigation-drawer:not(.navigation-drawer--right)
  transform translate3d(-100%, 0, 0)

.navigation-drawer--open:not(.navigation--permanent).navigation-drawer--right
.navigation-drawer--open:not(.navigation--permanent):not(.navigation-drawer--right)
  transform translate3d(0, 0, 0)

@media $display-breakpoints.sm-only
  .navigation-drawer--right
    width calc(50%)

$delta := 13px

@media $display-breakpoints.md-only
  .navigation-drawer--open.navigation-drawer--right ~ main
    margin-right 'calc(33.33% - %s)' % $delta

  .navigation-drawer--open:not(.navigation-drawer--right) ~ main
    margin-left 'calc(33.33% - %s)' % $delta

  .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open.navigation-drawer--right:not(.navigation-drawer--clipped):not(.navigation-drawer--floating) + .toolbar
    padding-right 'calc(33.33% - %s)' % $delta

  .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating) ~ .toolbar
    padding-left 'calc(33.33% - %s)' % $delta

  .navigation-drawer--persistent
    width 'calc(33.33% - %s)' % $delta

@media $display-breakpoints.lg-and-up
  .navigation-drawer--open.navigation-drawer--right ~ main
    margin-right 'calc(25% - %s)' % $delta

  .navigation-drawer--open:not(.navigation-drawer--right) ~ main
    margin-left 'calc(25% - %s)' % $delta

  .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open.navigation-drawer--right:not(.navigation-drawer--clipped):not(.navigation-drawer--floating) + .toolbar
    padding-right 'calc(25% - %s)' % $delta

  .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating) ~ .toolbar
    padding-left 'calc(25% - %s)' % $delta

  .navigation-drawer--persistent
    width 'calc(25% - %s)' % $delta

@media $display-breakpoints.xl-only
  .navigation-drawer--open.navigation-drawer--right ~ main
    margin-right 'calc(20% - %s)' % $delta

  .navigation-drawer--open:not(.navigation-drawer--right) ~ main
    margin-left 'calc(20% - %s)' % $delta

  .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open.navigation-drawer--right:not(.navigation-drawer--clipped):not(.navigation-drawer--floating) + .toolbar
    padding-right 'calc(20% - %s)' % $delta

  .navigation-drawer--persistent:not(.navigation-drawer--is-mobile).navigation-drawer--open:not(.navigation-drawer--right):not(.navigation-drawer--clipped):not(.navigation-drawer--floating) ~ .toolbar
    padding-left 'calc(20% - %s)' % $delta

  .navigation-drawer--persistent
    width 'calc(20% - %s)' % $delta

.navigation-drawer--is-mobile
  width 480px
  max-width 100%
