.hljs
  display: block
  overflow-x: auto

.hljs-comment,
.hljs-quote
  opacity: 0.5
  font-style: italic

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst
  opacity: 0.87
  font-weight: 700

.hljs-number,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr
  color: $theme.info

.hljs-literal
  color: $warning-text

.hljs-string,
.hljs-doctag
  color: $success-text

.hljs-title,
.hljs-section,
.hljs-selector-id
  color: $theme.error
  font-weight: 700

.hljs-subst
  font-weight: normal

.hljs-type,
.hljs-class .hljs-title
  color: $warning-text
  font-weight: 700

.hljs-tag,
.hljs-name,
.hljs-attribute
  color: $theme.info
  font-weight: normal

.hljs-regexp,
.hljs-link
  color: $success-text

.hljs-symbol,
.hljs-bullet
  color: $warning-text

.hljs-built_in,
.hljs-builtin-name
  color: $warning-text

.hljs-meta
  color: #999
  font-weight: 700

.hljs-deletion
  color: $theme.error

.hljs-addition
  color: $success-text

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: 700
