.capitalize::first-letter
  text-transform uppercase

.nowrap
  white-space nowrap
  word-break keep-all

.pre
  white-space pre

.nop p
  margin 0

pre
  font-family "Roboto Mono", monospace
  font-size 12px

::selection
  background-color: rgba($theme.primary, .25)

.theme--dark ::selection
  color: #fff
