// TODO: refactor #main and #oax id based styles

@import 'config/variables.styl'

@import '../../node_modules/vuetify/src/stylus/app.styl'

@import 'layout/layout.styl'
@import 'layout/scrollbar.styl'
@import 'layout/grid.styl'
@import 'layout/sidebar.styl'
@import 'layout/tweaks.styl'

@import 'main.styl'

@import 'vendor/vuetify/buttons.styl'
@import 'vendor/vuetify/expansion-panel.styl'
@import 'vendor/vuetify/progress.styl'
@import 'vendor/vuetify/fix.styl'
@import 'vendor/vuetify/icon.styl'
@import 'vendor/vuetify/input-solo.styl'

@import 'vendor/highlight/syntax.styl'
@import 'vendor/codemirror/codemirror.styl'

@import 'features/markdown.styl'

@import 'features/keys.styl'
@import 'features/typo.styl'
@import 'features/fills.styl'

@import 'app/example.styl'
