//.hljs
//  font-weight: 300 !important

.hljs-comment,
.hljs-quote
  opacity: .5
  font-style: italic

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst
  opacity: .75
  font-weight: 700

.hljs-number,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr
  color: $oax-text.info

.hljs-literal
  color: $oax-text.warning

.hljs-string,
.hljs-doctag
  color: $oax-text.success

.hljs-title,
.hljs-section,
.hljs-selector-id
  color: $oax-text.error
  font-weight: 700

.hljs-subst
  font-weight: normal

.hljs-type,
.hljs-class .hljs-title
  color: $oax-text.warning
  font-weight: 700

.hljs-tag,
.hljs-name,
.hljs-attribute
  color: $oax-text.info
  font-weight: normal

.hljs-regexp,
.hljs-link
  color: $oax-text.success

.hljs-symbol,
.hljs-bullet
  color: $oax-text.warning

.hljs-built_in,
.hljs-builtin-name
  color: $oax-text.warning

.hljs-meta
  //color: #999
  color: $oax-text.info
  font-weight: 700

.hljs-deletion
  color: $oax-text.error

.hljs-addition
  color: $oax-text.success

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: 700
