$color-pack = false

@require '../../../node_modules/vuetify/src/stylus/settings/_colors.styl'

// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: $blue.base
  accent: $blue.lighten-1
  secondary: $grey.darken-1

  info: $blue.darken-2
  warning: $amber.accent-4
  error: $red.accent-4
  success: $green.accent-4
}
